{% if request.get_full_path == '/' or request.get_full_path == '/contact/' %}

<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
{% else %}
<nav class="navbar navbar-expand-lg navbar-light shadow-5-strong">
{% endif %}
<style>
  /* #hello {
    font-size: 18px;
    margin-right: 20px
  } */
</style>
  <div class="container-fluid">
    {% load static %}
    <!-- <a id="logo" class="navbar-brand" href="{% url 'home' %}">LochanDesigns Gallery</a><img class="rounded" id="logo" src="{% static '/logo.png' %}" height="32" alt="Logo"></a> -->
    <a id="logo" class="navbar-brand" href="{% url 'home' %}">LochanDesigns</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Tognavigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" id="hello" aria-current="page">Hello, {{ request.user }}</a>
        </li>
        {% else %}
        {% endif %}
        {% if request.user.is_superuser %}
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Maintenance
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'storage:upload' %}">Upload Photo</a></li>
            <li><a class="dropdown-item" href="{% url 'storage:edit' %}">Edit Gallery</a></li>
          </ul>
        </li>
        {% else %}
        {% endif %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'storage:products' %}">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contact Us</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
